body {
    background-image: url('../assets/images/background.jpg');
}

.container {
    justify-items: center;
}

.title {
    background-color: #4C9DFA;
    color: white;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
}

.instructions {
    background-color: #4C9DFA;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 20px;
}

.form-group {
    min-width: 500px;
}

#button-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#chat-container {
    background-color: #0f9ed5;
    border: 1px solid black;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chat-input {
    display: flex;
    justify-content: center;
}

#messageInput {
   width: 100%;
   margin-right: 5px;
}

.scrollable {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
}

.loading-indicator {
    max-height: 50px;
    max-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (max-width: 736px) {
    .form-group {
        min-width: 90vw;
    }
}