body {
    background-image: url('../assets/images/background.jpg');
}

.container {
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#chatSetUpContainer {
    margin-top: 150px;
}

.title {
    background-color: #4C9DFA;
    color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.instructions {
    background-color: #4C9DFA;
    color: white;
    border: 1px solid black;
    padding: 10px;
    text-shadow: 1px 1px 2px black;
}

label {
    font-weight: bold;
    margin: 1px;
}

.form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    min-width: 500px;
}

.buttonContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#chatContainer {
    background-color: #0f9ed5;
    border: 1px solid black;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scrollable {
    height: 435px;
    max-width: 100%;
    overflow-y: auto;
}

#chatInput {
    display: flex;
    justify-content: center;
}

#messageInput {
    width: 100%;
    margin-right: 1px;
    border: 1px solid black;
}

.message {
    padding: 5px;
}

.sender {
    color: white;
    background-color: gray;
    border: 0.5px solid black;
    padding-left: 5px;
    text-shadow: 1px 1px 2px black;
}

.senderName {
    font-weight: bold;
}

.currentUser {
    padding-left: 50%;
}

.otherUsers {
    width: 50%;
}

.userMessage {
    background-color: white;
    border: 0.5px solid black;
    padding-left: 5px;
}

@media only screen and (max-width: 736px) {
    .form-group {
        min-width: 90vw;
    }

    #chatSetUpContainer {
        margin-top: 75px;
    }
}

@media only screen and (max-height: 736px) {
    #chatSetUpContainer {
        margin-top: 50px;
    }
}